<h1>Find and Replace words<h2>
<form action='/answer'>
  <div class="form-group">
    <label for="phrase">Enter a phrase</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word1">Enter a word to take out</label>
    <input id="word1" name="word1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word2">Enter a word to replace</label>
    <input id="word2" name="word2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
